@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F3F6F9 !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.section-heading{
    margin-bottom: 20px;
}

.section-heading h1{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

small{
    font-size: 11px !important;
}

.navbar {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #fff !important;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.admin-img{
    border: 1px solid #00000014;
    width: 24px;
    border-radius: 50%;
}

.bg-admin{
    background-color: #cbe5ff8c;
    padding: 2px 5px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}
.collapse-btn {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #082029;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar li {
    margin-bottom: 12px;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar .heading a{
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: 2px;
    color: white !important;
}

#sidebar .heading a:hover{
    color: black !important;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: black;
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-info {
    color: black;
    padding: 0px;
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn:focus{
    box-shadow: none !important;
}
.btn-info:hover{
    color: black;
}

#sidebar .sidebar-header {
    background: #00000057;
}

#sidebar h3{
    font-size: 20px;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    font-weight: bolder;
    margin-bottom: 0px;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    color: white;
    padding: 10px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.dropdown-menu::after{
    content: "";
    border-width: 8px 6px;
    border-color: transparent transparent #efefef transparent;
    border-style: solid;
    display: inline-block;
    position: absolute;
    right: 13px;
    top: -16px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}


/*navabar*/
.dropdown-menu{
    right: 0px;
    top: 30px;
    padding: 0px;
    left: unset !important;
}
.dropdown-toggle::after{
    display: none;
}
a[aria-expanded="true"]{
    background-color: transparent;
}
.dropdown-item{
    font-size: 14px;
    padding: 10px 16px;
}

.dropdown-item:hover {
    color: white;
    background-color: #0a445b;
}
/*side bar*/
.heading{
    background-color: #0000001a;
}

/*footer*/
.clearfix{
    padding: 6px 10px !important;
    color: black;
    font-size: 15px;
    background-color: #fafbfc !important;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-left: 1px solid gainsboro;
}

.footer-link{
    font-size:14px;
}

.clearfix a{
    font-weight: 600;
}


/*data tables*/
#table_id_filter input{
    height: 38px;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #464E5F;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E5EAEE;
    border-radius: 0.42rem;
}

#table_id_filter label{
    font-weight: 600;
}
.table-responsive {
    padding: 20px;
    background-color: white;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #ededed;
}

.section-padding{
    padding: 30px 0px;
}
table.dataTable.display tbody tr.odd {
    background-color: transparent !important;
}

table.dataTable.display tbody tr.even>.sorting_1{
    background-color: transparent !important;
}

table.dataTable.display tbody tr.odd>.sorting_1{
    background-color: transparent !important;
}

table.dataTable tbody tr{
    background-color: transparent !important;
}

a.paginate_button{
    border: none !important;
    padding: 0px 8px !important;
    font-size: 14px !important;
    color: white !important;
    border-radius: 5px !important;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 10px;
}

table.dataTable.nowrap th, table.dataTable.nowrap td{
    border:none;
}

.dataTables_wrapper .dataTables_info{
    padding-top: 20px !important;
    font-size: 12px;
}

.dataTables_wrapper .dataTables_paginate{
    padding-top: 20px !important;
    font-size: 12px;
}

#table_id_length select{
    padding: 2px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #464E5F;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #E5EAEE;
    border-radius: 0.42rem;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #f3f3f3 !important;
}

#table_id th {
    border-bottom: 2px solid #bfbfbf7d !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #1111110d !important;
}

.btn-none{
    display: none;
}
.dashboard-menu{
    margin-left: 6px;
}

/*home-page*/
.dashboard-info{
    padding: 30px 20px;
}

.dashboard-info h3{
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
}

.dashboard-info p{
    color: #ffffffc4;
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-bottom: 0px;
}

.bg-dashboard{
    background: #00000036;
    display: block;
    width: 100%;
    border: none;
    color: white;
    border-radius: 0rem  0rem 1.25rem 1.25rem;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.dashboard-info .svg-inline--fa{
    font-size: 30px;
    color: #ffffffc4;
    margin-right: 20px;
}

.dashboard-info .svg-inline--fa{

}

.dashboard-bg-01{
    background-color: #009688 !important;
    border-radius: 1.25rem !important;
}

.dashboard-bg-02{
    background-color: #0f5773f2 !important;
    border-radius: 1.25rem !important;
}

.margin-top{
    margin-top: 30px;
}

.card-spacer{
    margin-bottom: 40px;
    background-color: #fafbfc;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


/*profile form*/
#profile-form .form-control {
    border: 1px solid #eef1f5;
}

#enroll-form-btn{
    border: none;
    background-color: #009688 !important;
    border-color: #1BC5BD;
    color: white;
    padding: 6px 13px;
    outline: none;
    border-radius: 6px;
}
.submit-button{
    border: none;
    background-color: #009688 !important;
    border-color: #1BC5BD;
    color: white;
    padding: 6px 13px;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #009688 !important;
}

#profile-form label{
    font-size: 14px;
    font-weight: 500;
}

/*login-form*/
#login-form{
    padding: 20px 30px;
    width: 470px;
    border-radius: 10px;
    background: #00000061;
    margin: auto;
}
#login-page{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#login-page h1{
    color: white;
    font-size: 20px !important;
    font-weight: bolder;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#login-page p{

}

.contact-info{
    text-align: center;
    margin-bottom: 30px;
}

.contact-info img{
    margin-bottom: 20px;
    width: 80px;
}

.submit-btn{
    border: none;
    background-color: #009688 !important;
    border-color: #1BC5BD;
    color: white;
    padding: 8px 30px;
    outline: none;
    border-radius: 40px;
}

.bg-img-02{
    background-image: url(../images/dashboard-02.jpg);
}

#login-page .form-control {
    border-bottom: 1px solid #ced4da !important;
    border: none;
    color: white;
    background-color: transparent;
    border-radius: 0px !important;
}

#login-page label{
    font-size: 14px;
    color: white;
    font-weight: 600;
    margin-bottom: 6px !important;
}

.forget-btn{
    float: right;
    color: #ffffffe0;
    font-size: 14px;
    font-weight: 700;
}

.forget-btn:hover{
    color: #ffffffe0;
}
#login-page ::placeholder {
  color: #ffffffe0;
}

.forget-pswd-btn{
    border: none;
    background-color: #fafbfc !important;
    border-color: #fafbfc !important;
    color: black;
    margin-left: 15px;
    padding: 9px 30px;
    outline: none;
    border-radius: 40px;
}

#profile-view .form-group {
    margin-bottom: 25px;
}

#profile-view .form-control{
    background-color: #F3F6F9;
    border-color: #F3F6F9;
}
